WeaveFeedTester/SampleData/SampleMainViewModel/SampleMainViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleMainViewModel" targetNamespace="Expression.Blend.SampleData.SampleMainViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleMainViewModel" type="tns:SampleMainViewModel" />
  <xs:complexType name="SampleMainViewModel">
    <xs:sequence>
      <xs:element name="Feeds" type="tns:Feeds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Feeds">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FeedsItem" type="tns:FeedsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeedsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Url" type="xs:string" />
  </xs:complexType>
</xs:schema>